.App {
   display: flex;
   flex-direction: row;

}

.slick-slide {
  padding: 0 27px;
}

.slick-slider{
  padding: 0 10px;
}

/* the parent */
.slick-list {
  padding: 0 -27px;
}

.slick-arrow.slick-next,
.slick-arrow.slick-prev{
background-color: #000000;
height:25px;
width: 25px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
opacity: 0.8;
height:30px;
width:30px;
}

.slick-arrow.slick-next:hover,
.slick-arrow.slick-prev:hover
{
    background-color: black;
    opacity:1;
}


.slick-prev::before,.slick-next::before{
   display:none;
    
    }

.arrows{
height:20px;
width:20px;
margin: 1px;

}

.workbooks{
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}

.spinning_indicator{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #ffffff;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}